.root {
    -fx-base: #3c5267;
    -fx-accent: #79baf0;
    -fx-default-button: #d7efff;
    -fx-focus-color: #79a8cf;
    -fx-faint-focus-color: rgb(109, 150, 186);
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color;
}

.button {
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: whitesmoke;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );
}

#Center_Anchor_Pane{
    -fx-background-color: #365b79,
    linear-gradient(from 0px 0px to 20px 0px, repeat, rgb(0, 138, 138) 0%, transparent 5%, transparent 95%, rgb(0, 138, 138) 100% ),
    linear-gradient(from 0px 0px to 0px 20px, repeat, rgb(0, 138, 138) 0%, transparent 5%, transparent 95%, rgb(0, 138, 138) 100% );
}

#NodeRectangle{
    -fx-fill: lightgray;
    -fx-stroke: darkgray;
}

#NodeLabel {
    -fx-fill: #2c4a62;
}

#Edge{
    -fx-stroke: #ffffff;
}